<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>

<body>
    {% for release in releases %}
        <h1><a href={{'https://discogs.com' + release.url}} target="_blank">{{release.title + ' (' + release.year|string + ')'}}</a></h1>
    {% endfor %}
    <div class="container">
        <form method='post'>
            {% if page > 0 %}
            <input type='submit' name='submit_button' value='Previous'>
            {% endif %}
            {% if page < 1 %}
            <input type='submit' name='submit_button' value='Next'>
            {% endif %}
        </form>
    </div>
</body>
</html>